mixin form(args)
    form.form(class= args.className)
        h3.form__title= args.title
        p.form__description= args.description
        .form__fields
            each field in args.fields
                .form__field
                    label.form__label(for= field.name)= field.label
                    input.form__input(
                        placeholder= field.placeholder
                        name= field.name
                        id= field.name
                    )
        button.form__button= args.submitText